<?xml version="1.0" encoding="utf-8"?>
<ConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--数据库连接串   Provider=Microsoft.Jet.OLEDB.4.0;Data Source={$AppPath}\config\dbdbdbdb.mdb-->
  <!-- Access   Provider=Microsoft.Jet.OLEDB.4.0;Data Source=~\config\dbdbdbdb.mdb -->
  <!-- Oracle   Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=***.***.***.***)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=***)));Persist Security Info=True;User ID=***;Password=***; -->
  <!-- MySql    Database='hl';Data Source='localhost';User Id='root';Password='root';charset='utf8';pooling=true -->
  <!-- SqlServer   Data Source=.;User ID=sa;Password=123;Initial Catalog=aaaaaa;Pooling=true -->  
  <Dbconnectstring>Data Source=.;Initial Catalog=xs;integrated security=true</Dbconnectstring>    
  <!--数据库类型 Access Oracle SqlServer MySql -->
  <Dbtype>SqlServer</Dbtype>
</ConfigInfo>